@use "../commons/variables" as *;

.d-block{
  height: 400px;
}

// клас для блока кнопки корзины покупок
.page-header {
  &__cart-btn {
    position: relative;

    width: 50px;
    height: 50px;
    margin-left: 30px;

    color: $color-dark;
    border: none;
    border-radius: 0;
    background-color: $color-light;

    &:hover {
      span {
        color: $color-dark;
        background-color: $color-light;
      }
    }

    span {
      position: absolute;
      top: -12px;
      left: -12px;

      width: 24px;
      height: 24px;

      transition: background-color 0.5s;

      color: $color-light;
      border-radius: 12px;
      background-color: $color-dark;
      box-shadow: 0 0 5px rgba(#000000, 0.75);
    }
  }

  &__cart-counter {
    display: none;
  }
}