.device-image{
height: 84px;
width: 90px;
}
// класс для блока карточки товара
.item-wrapper{
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}
// клас для блока кнопок на карточках товара
.item-actions {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  &__more,
  &__cart{
    width: 150px;
    height: 35px;
  }
}
.display-hidden {
  display: none;
}

.pageCards{
display: flex;
gap: 10px;
}
// блок самой карточки товара
.item-wrapper{
  height: 320px;
  width: 300px;
}
.item-characteristics{
  display: flex;
  flex-direction: column;
}

// блок сообщения если по поиску не нашли ничего
.noResulstmassage{
  border: 1px solid black;
  height: 300px;
display: flex;
align-items: center;
justify-content: center;

}


@media(max-width: 460px){
  .item-actions__cart,
.item-actions__more {
  width: 140px;
  height: 30px;
}
}